body {

  color: #ffffff;
  margin: 0;
  padding: 0;
  font-family: "Roboto Mono", monospace;
  min-height: 400px;
  background-image: url("https://i.ibb.co/m8K1P5j/attachment-128327450-removebg-preview-1.png");
  background-repeat: no-repeat;
  background-position: top;
  background-position-y: 200px;
  background-size: 60vh;
  background-color: #003366;
}

.container {
  text-align: center;
  padding: 20px;
  height: 100vh;
}

.page-title {
  margin: 0 0 5px;
}

.page-subtitle {
  margin-top: 5px;
}

.bimester-container {
  position:center;
  display: flex;
  flex-direction: column;

  align-items: center;
  justify-content: center;

  height: 25%;
  padding: 20px;
}

.input-container {
  width: 100%;

  margin-top: 20px;
}

#mediaFinal {
  color: #ffffff;
  font-size: 15px;
}

#aprove {
  color: #ffffff;
  font-size: 20px;
  text-decoration: underline;
}

input {
  width: 15%;

  margin-left: 10px;
}

input::-webkit-inner-spin-button {
  -webkit-appearance: none;
}
