body {

  color: #ffffff;
  margin: 0;
  padding: 0;
  font-family: "Roboto Mono", monospace;
  min-height: 400px;
  /*
  background-image: url("https://images-platform.99static.com//XDqAq_HapvXR9AWeozwbmXyPR3E=/168x2172:1831x3835/fit-in/500x500/99designs-contests-attachments/128/128327/attachment_128327450");
  TEMPORARIAMENTE DESATIVADO O BACKGROUND
  background-position: top;
  background-repeat: repeat-y;
  background-size: 80vh;
  */
  background-color: #003366;

}

.container {
  text-align: center;
  padding: 20px;
  height: 100vh;
}

.page-title {
  margin: 0 0 5px;
}

.page-subtitle {
  margin-top: 5px;
}

.bimester-container {
  display: flex;
  flex-direction: column;

  align-items: center;
  justify-content: center;

  height: 25%;
  padding: 20px;
}

.input-container {
  width: 100%;

  margin-top: 20px;
}

input {
  width: 15%;

  margin-left: 10px;
}

input::-webkit-inner-spin-button {
  -webkit-appearance: none;
}
